/* ContactForm.css */

.contact-container {
  width: 100%; /* Full width on smaller screens */
  max-width: 600px;
  margin: 0 auto; /* Center horizontally */
  padding: 10px; /* Add some padding for spacing */
}

.contact-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width on smaller screens */
  font-size: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px; /* Increase padding for touch-friendly design */
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}

.contact-form label {
  margin-top: 1rem;
}

.contact-form input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: rgb(249, 105, 14);
  color: white;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.contact-form input[type="submit"]:hover {
  background: rgba(249, 105, 14, 0.8);
  color: #fff;
}

.email {
  align-items: center;
  font-size: 20px;
  font-family: "cursive", cursive; /* Use a cursive font for a stylish look */
  color: rgba(249, 105, 14, 0.8); /* Choose a stylish text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow for style */
}


/* Media Query for Mobile */
@media (max-width: 768px) {
  .contact-container {
    max-width: 100%; /* Allow full width on smaller screens */
  }

  .contact-form {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}
