/* ProfileInfo.css */

/* Common styles for all screen sizes */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
}

.profile-pic {
  margin-left: 20px; /* Reduce the margin for smaller screens */
  border-radius: 0% 20% 0% 20%; /* Custom border-radius */
  overflow: hidden;
}

.profile-pic img {
  width: 100%; /* Make the image width 100% to fit the container */
  height: auto; /* Let the height adjust proportionally */
  object-fit: cover;
}

.profile-details {
  text-align: left; /* Keep the text aligned to the left */
  margin: 20px; /* Add margin to all sides for spacing */
  max-width: 100%; /* Allow the text to take the full width */
  word-wrap: break-word; /* Wrap long words to the next line if needed */
  font-family: 'Albert Sans', sans-serif;
  letter-spacing: 1px;
  font-size: smaller;
}

.profile-details p {
  margin-bottom: 10px; /* Adjust the margin for smaller screens */
}

/* Media query for screens with a maximum width of 768px (typical for mobile) */
@media (max-width: 768px) {
  .profile-pic {
    margin-left: 10px; /* Further reduce the margin for smaller screens */
  }

  .profile-details {
    margin: 10px; /* Reduce margin for smaller screens */
  }

  .profile-details p {
    font-size: smaller; /* Adjust font size for smaller screens if necessary */
  }
}
